@page "/Login/{NewUser?}"
@using Blazored.Toast.Configuration

<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="10"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="done_outline"
                ErrorIcon="fa fa-bug"/>

<div class="container mt-5">
    <div class="row justify-content-center">
        @if (this.IsMessageVisible)
        {
            <div class="alert alert-success text-center" role="alert">
                Account Created Successfully
            </div>
        }
        <div class="col-md-6">
            <div class="login-form">
                <h2 class="text-center mb-4">Login</h2>
                <EditForm Model="AuthenticationRequestModel" OnValidSubmit="LoginButton_Click">
                    <DataAnnotationsValidator/>
                    <ValidationSummary/>

                    <div class="form-group">
                        <label for="username" class="form-label h5">Username</label>
                        <InputText type="text" id="username" name="username" class="form-control" placeholder="Enter your username" @bind-Value="AuthenticationRequestModel!.UserName"/>
                    </div>
                    <div class="form-group mt-2">
                        <label for="password" class="form-label h5">Password</label>
                        <InputText type="password" id="password" name="password" class="form-control" placeholder="Enter your password" @bind-Value="AuthenticationRequestModel!.Password"/>
                    </div>

                    @if (this.IsProcessing)
                    {
                        <button type="submit" class="btn btn-primary form-control mt-3">
                            <span class="spinner-border spinner-border-sm" role="status"></span>
                            Logging In
                        </button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary form-control mt-3">Login</button>
                    }
                </EditForm>
                <p class="text-center mt-3">Don't have an account? <a href="/Register">Register here</a></p>
            </div>
        </div>
    </div>
</div>