@if (NotAuthorized)
{
    <h1>Oops, You Do Not Have Access</h1>
    <p>
        The page or component you are trying to reach requires
        you to have more permissions than you currently do. Please
        contact the administrator if you think you have reached
        this page in error.
    </p>
}