@page "/Categories"
@using Blazored.Toast.Configuration

<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="10"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="done_outline"
                ErrorIcon="fa fa-bug"/>

@if (this.CategoryList == null)
{
    <div style="position:fixed;top:50%;left:50%;margin-top:-50px;margin-left:-100px;">
        <img src="images/ajax-loader.gif"/>
    </div>
}
else
{
    <div class="container mt-5">
        <div class="header text-center">
            <h1 class="category-heading">Explore Our Categories</h1>
        </div>
        <div class="row mt-3">
            @foreach (var category in this.CategoryList)
            {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@category.Name</h5>
                            <p class="card-text">@category.Summary</p>
                            <a class="btn btn-primary" @onclick="() => OnCategoryButtonClick(category.Id)">View @category.Name</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
    
