@page "/Orders"
@using Blazored.Toast.Configuration
@using Ecommerce.Shared.Dtos
@using Ecommerce.Shared.Enums

<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="10"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="done_outline"
                ErrorIcon="fa fa-bug"/>

@if (this.UserOrders == null)
{
    <div style="position:fixed;top:50%;left:50%;margin-top:-50px;margin-left:-100px;">
        <img src="images/ajax-loader.gif"/>
    </div>
}
else
{
    <div class="container mt-4">
        <div class="row w-100 mt-4">
            <div class="col-md-6">
                <h1>
                    <i class="bi bi-card-list"></i> Orders
                </h1>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th class="text-center">Order ID</th>
                <th class="text-center">Date Placed</th>
                <th class="text-center">Total</th>
                <th class="text-center">Status</th>
                <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (OrderDto order in this.UserOrders)
            {
                <tr>
                    <td class="text-center">@order.Id</td>
                    <td class="text-center">@order.CreatedDate</td>
                    <td class="text-center">@order.Total</td>
                    <td class="text-center">@Enum.GetName(order.Status)</td>
                    <td>
                        <div class="row text-center">
                            <div class="col-2">&nbsp;</div>
                            <div class="col-4">
                                <button class="btn btn-primary" @onclick="(() => this.ShowOrderDetails(order))">Order Details</button>
                            </div>
                            <div class="col-4">
                                @if (order.Status == OrderStatus.Processing)
                                {
                                    <button class="btn btn-danger" @onclick="(() => this.CancelOrder(order))">Cancel Order</button>
                                }
                                else
                                {
                                    <button class="btn btn-danger" disabled>Cancel Order</button>
                                }
                            </div>
                            <div class="col-2">&nbsp;</div>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}