@page "/Orders"
@using Blazored.Toast.Configuration
@using Ecommerce.Shared.Enums

<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="10"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="done_outline"
                ErrorIcon="fa fa-bug"/>

@if (this.UserOrders == null)
{
    <div style="position:fixed;top:50%;left:50%;margin-top:-50px;margin-left:-100px;">
        <img src="images/ajax-loader.gif"/>
    </div>
}
else
{
    <div class="container mt-4">
        <div class="row w-100 mt-4">
            <div class="col-md-6">
                <h1>
                    <i class="bi bi-cart4"></i> Cart
                </h1>
            </div>
        </div>
        
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Order ID</th>
                <th>Order Date</th>
                <th>Order Total</th>
                <th>Order Status</th>
                <th>Order Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var order in this.UserOrders)
            {
                <tr>
                    <td>@order.Id</td>
                    <td>@order.CreatedDate</td>
                    <td>@order.Total</td>
                    <td>@Enum.GetName(order.Status)</td>
                    <td>
                        @if (order.Status == OrderStatus.Pending || order.Status == OrderStatus.Processing)
                        {
                            <button class="btn btn-danger" @onclick="(() => this.CancelOrder(order))">Cancel Order</button>
                        }
                        else
                        {
                            <button class="btn btn-danger" disabled>Cancel Order</button>
                        }
                        <button class="btn btn-primary" @onclick="(() => this.ShowOrderDetails(order))">Order Details</button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}

